body{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 205, 237);
}

#container{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI";
}

.root{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 5vh;
  background-color: rgb(224, 173, 215);
  z-index: 4;
  position: fixed;
}

.banner{
  padding-top: 5vh;
  width: 100%;
  height: 50vh;
  color: black;
  background-color: rgb(197, 233, 166);
}

.banner__leftside{
  float: left;
  width: auto;
}
.banner__rightside{
  float: right;
  width: auto;
}

.primary-content-container{
  width: 100%;
  height: 100%;
}

.source-list{
  display: inline-block;
  width: 14%;
  vertical-align: top;
}

.support-text{
  font-size: 12px;
}

.si{
  width: 100%;
  height: 35vh;
  overflow: hidden;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.si__source{
  height: 5vh;
  display: table;
}
.si__source__icon{
  display: table-cell;
  background-color: rgb(218, 127, 122);
  height: 100%;
  width: 25%;
  padding-bottom: 5vh;


}
.si__source__details{
  display: table-cell;
  width: 75%;
}
.si__source__details a{
  text-decoration: none;
  color: blue;
}

.si__header{
  width: 100%;
  background-color: rgb(188, 138, 212);
}

.si__header__category{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.si__header__category a{
  text-decoration: none;
  text-transform: uppercase;
  color: blue;
}


.si__header__title{
  font-size: 18px;
  font-weight: bold;
}
.si__header__title a{
  text-decoration: none;
  color: black;
}

.si__header__author{
  padding-top: 1vh;
  padding-bottom: 1vh;
}



.si__social{
  width: 100%;
  background-color: rgb(127, 185, 207);
  position: absolute;
  bottom: 0;
}
.si__social__likes{
  display: inline-block;
  padding-right: 1vh;
}
.si__social__comments{
  display: inline-block;
  padding-right: 1vh;
}


.si__description{
  font-size: 16px;
  font-family: "Times New Roman";
}
