body{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 205, 237);
}

#container{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI";
}

.root{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 5vh;
  background-color: rgb(224, 173, 215);
  position: fixed;
}

.banner{
  padding-top: 5vh;
  width: 100%;
  height: 50vh;
  color: black;
  background-color: rgb(197, 233, 166);
}

.primary-content-container{
  width: 100%;
  height: 100%;
}

.source-list{
  display: inline-block;
  width: 14%;
  vertical-align: top;
}

.source-container{
}

.source-item{
  list-style-type: none;
}
