body{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 205, 237);
}

#container{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI";
}

.root{
  width: 100%;
  height: 100%;
}

.header{
  width: 100%;
  height: 5vh;
  background-color: rgb(224, 173, 215);
  z-index: 4;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button{
  background-color: rgb(135, 49, 232);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1vh 2vh;
  border-radius: 0.5vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
.header__button--root{
  background-color: inherit;
  color: black;
}

.banner{
  padding-top: 5vh;
  width: 100%;
  height: 50vh;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
}

.banner__leftside{
  float: left;
  width: auto;
}
.banner__rightside{
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.primary-content-container{
  /*width: 100%;*/
  height: 100%;

  padding-left: 20%;
  padding-right: 20%;
  width: 60%;
}

/*.source-list{
  display: inline-block;
  width: 14%;
  vertical-align: top;
}*/

.support-text{
  width: 100%;
  font-size: 12px;
}



.si{
  /*width: 100%;*/
  height: 35vh;
  overflow: hidden;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;


  width: 25%;
  display: inline-block;
}

.si__source{
  height: 4vh;
  display: table;
  width: 100%;
}
.si__source__icon{
  display: table-cell;
  background-color: inherit;
  /*background-color: rgb(218, 127, 122);*/
  height: 100%;
  width: 25%;
  vertical-align: top;
}


.si__source__icon__circle{
  position: relative;
  height: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  background-color: rgb(135, 49, 232);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.content:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 0;
  height: 100%;
}

.content span {
  vertical-align: middle;
  display: inline-block;
  color: white;
}


.si__source__details{
  display: table-cell;
  vertical-align: top;
  height: 100%;
  width: 75%;
}
.si__source__details__content{
  display: inline-block;
  height: 100%;
  width: 90%;
  padding: 5%;
}

.si__source__details__content__category{

}
.si__source__details__content__datetime{
  overflow-y: none;
}

.si__source__details a{
  text-decoration: none;
  color: blue;
}



.si__header{
  width: 100%;
  background-color: rgb(188, 138, 212);
}

.si__header__category{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.si__header__category a{
  text-decoration: none;
  text-transform: uppercase;
  color: blue;
}


.si__header__title{
  font-size: 18px;
  font-weight: bold;
}
.si__header__title a{
  text-decoration: none;
  color: black;
}

.si__header__author{
  padding-top: 1vh;
  padding-bottom: 1vh;
}



.si__social{
  width: 100%;
  background-color: rgb(127, 185, 207);
  position: absolute;
  bottom: 0;
}
.si__social__likes{
  display: inline-block;
  padding-right: 1vh;
}
.si__social__comments{
  display: inline-block;
  padding-right: 1vh;
}


.si__description{
  font-size: 16px;
  font-family: "Times New Roman";
  line-height: 150%;
}
